@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
}


.appear-animation {
    animation: appear .7s linear 0s 1;
    animation-fill-mode: forwards;
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: .42;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
